#playclick{

    border: 1px solid black;
    padding: 25px; 
    background-color: red;
    color: black;
    font-family: 'Jost', sans-serif;
    border-radius: 80px; 
    margin-top: 3%;
    width: 15%;
}
    
        
        
        
    
